@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

body{
    width: 100%;
}
header{
    display:grid;
    width: 100%;
}
main{
    width: 100%;
}
div{
    width: 100%;
}
nav a{
    display: flex;
    text-align:center;
    color:#000;
    text-decoration:none;
    align-self:center;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
section{
    width: 100%;
}

section.gallery{
    display: flex;
    flex-wrap: wrap;
}

section img{
    width: 15em;
}
h1, h2 {
    font-family: 'Mynerve', cursive;
    color: #30362F;
    width: 100%;
    text-align: center;
}
div h1 {
    position: absolute;
    top: 50px;
    background-color: #007EA7;
    height: 90px;
    font-size: 40px;
    width: 100%;
}
p {
    font-family: 'Montserrat', sans-serif;
    color: #30362f;
}
div.hero {
    position: relative;
    text-align: center;
    width: 100%;
}
div.hero img {
    width: 100%;
    height: 200px;
    opacity: .9;
    height: 400px;
}
.hero div article {
    position: relative;
}
.hero article p {
    position:absolute;
    top: 150px;
    background-color: aliceblue;
    height: 5em;
    font-size: 20px;
    width: 88%;
    
  
}
.hero article img{
    position: absolute;
    width:7.25em;
    height: auto;
    border: #30362f;
    z-index:1;
    border: .3em solid #007EA7;
    top:40%;
    left: 88%;
}
header img {
    height: 5em;
    width:auto;
}
footer nav{
    display: flex;
    width: 50%;
}
footer img {
    width: 5em;
}
div {
    width: 100%;
}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}
legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}
label {
    text-align: right;
    padding-right: 1rem;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
} 
  button:hover {
    background-color: darkgreen;
}

.form-item {
    display: grid;
    align-items: center;
}
.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}
div.contact h1 {
    top: 2em;
}
div.map{
    position: relative;
    width:20em;
    height: auto;
    top: 8em;
    left: 50%;
}
