@import url('https://fonts.google.com/css?family=Montserrat&display=swap');
@import url('https://fonts.google/css?family=mynerverve&display=swap');
* {
    width: 960px;
    border: 0;
    padding: 0;
}

/*

* {
	margin: 0;
	padding: 0;
}
div .hero {
    position: relative;
}
header img {
    float:left;
    height: 100px;
    width:auto
}
div h1 {
    font: 'Mynerve', cursive;
    color: #30362F;
    position:absolute;
    top: 800px;
    left: 200px;
    
}
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #625834;

}
.hero {
    position:absolute;
}
.hero p{
    float:right;
}
article {
    position:absolute;
}
article img {
    float:right;
}
.hero img {
    position:absolute;
    height: 300px;
    width: 1000px;
    top: 110px;
}
.hero h1 {
    position: absolute;
    top: 100px;
    width: 1000px;
}

:root {
    --primary-color: #30362F;
    --secondary-color: #625834;
    --accent1-color: #A59132;
    --accent2-color: #FFFBDB;
  
 
  
    --heading-font: 'Mynerve', cursive;
    --paragraph-font: 'Montserrat', sans-serif;
  
    --nav-background-color: #FFFBDB;
    --nav-link-color: #30362F;
    --nav-hover-link-color: #007EA7;
    --nav-hover-background-color: #A59132;
}*/
h1, h2 {
    font-family: 'Mynerve', cursive;
    color: #30362F;
}
div h1 {
    position: absolute;
    top: 50px;
    background-color: #007EA7;
    height: 90px;
    font-size: 40px;
}
p {
    font: 'Montserrat', sans-serif;
    color: #30362f;
}
div.hero {
    position: relative;
    text-align: center;
}
div.hero img {
    width: 100%;
    height: 400px;
    opacity: .9;
    width: 960;
    height: 400px;
}
.hero div article {
    position: relative;
}
.hero article p {
    position:absolute;
    top: 150px;
    background-color: aliceblue;
    height: 90px;
    font-size: 35px;
}
.hero article img{
    position: absolute;
    top: 182px;
    left: 800px;
    width: 150px;
    height: 90px;;
    border: #30362f;
    z-index:1;
    border: 5px solid #007EA7;
}
header img {
    height: 90px;
    width:auto;
}
footer img {
    width: 90px;
}
